//Ken Burns Effect

@keyframes kenburns_1 {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  80% {
    transform: scale3d(1.1, 1.1, 1.1) translate3d(20px, -40px, 0);
    animation-timing-function: ease-in;
    opacity: 1;
  }

  90% {
    transform: scale3d(1.1, 1.1, 1.1) translate3d(20px, -40px, 0);
    opacity: 0;
  }

  100% {
    transform: scale3d(1.1, 1.1, 1.1) translate3d(20px, -40px, 0);
    opacity: 0;
  }
}

@keyframes kenburns_2 {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  80% {
    transform: scale3d(1.1, 1.1, 1.1) translate3d(10px, -20px, 0);
    animation-timing-function: ease-in;
    opacity: 1;
  }

  90% {
    transform: scale3d(1.1, 1.1, 1.1) translate3d(10px, -20px, 0);
    opacity: 0;
  }

  100% {
    transform: scale3d(1.1, 1.1, 1.1) translate3d(10px, -20px, 0);
    opacity: 0;
  }
}

@keyframes kenburns_3 {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  80% {
    transform: scale3d(1.1, 1.1, 1.1) translate3d(20px, -40px, 0);
    animation-timing-function: ease-in;
    opacity: 1;
  }

  90% {
    transform: scale3d(1.1, 1.1, 1.1) translate3d(20px, -40px, 0);
    opacity: 0;
  }

  100% {
    transform: scale3d(1.1, 1.1, 1.1) translate3d(20px, -40px, 0);
    opacity: 0;
  }
}

@keyframes kenburns_text {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 0;
  }

  25% {
    animation-timing-function: ease-in;
    opacity: 1;
  }

  80% {
    animation-timing-function: ease-in;
    opacity: 1;
  }

  90% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

.kb__image--1 {
  max-width: 110%;
  width: 110%;
  position: absolute;
  left: -5%;
  top: -5%;
}

.swiper-slide-next .kb__image--1,
.swiper-slide-active .kb__image--1 {
  animation: kenburns_1 8s;
}

.kb__image--2 {
  max-width: 110%;
  width: 110%;
  position: absolute;
  left: -5%;
  top: -5%;
}

.swiper-slide-active .kb__image--2 {
  animation: kenburns_2 8s;
}

.kb__image--3 {
  max-width: 110%;
  width: 110%;
  position: absolute;
  left: -5%;
  top: -5%;
}

.swiper-slide-active .kb__image--3 {
  animation: kenburns_3 8s;
}

.swiper-slide:not(.swiper-slide-active) > img,
.swiper-slide:not(.swiper-slide-active) > .kb__text {
  display: none;
  visibility: none;
}

.swiper-slide-active .kb__text {
  animation: kenburns_text 8s;
}
