.pyramid-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 840px;

  @media (min-width: 768px) {
    height: 420px;
  }

  @media (min-width: 992px) {
    height: 280px;
  }

  &__item {
    display: flex;
    align-items: flex-end;
    width: 100%;
    padding-bottom: 30px;
    font-size: 17px;

    @media (min-width: 768px) {
      width: 45%;
    }

    @media (min-width: 992px) {
      width: 33%;
    }
  }

  &__link {
    text-decoration: underline;
    color: #5e308b;
    padding-left: 15px;
    font-weight: 700;
    font-size: 17px;

    @media (min-width: 480px) {
      font-size: 20px;
    }
  }
}
