#section-team-carousel {
  padding: 25px 0;
  background-color: #e1eef6;
  border-top: solid 5px white;
  border-bottom: solid 5px white;

  .heading {
    color: #2e2e2e;
  }

  .owl-carousel .owl-nav [class*=owl-] {
    top: 35%;
  }
}
