# System files in case they are not globally ignored
.DS_Store
.idea

# Development Environment
app/css
build
jsdoc
npm-debug.log
node_modules
vendor
sassdoc


# Security and Deployment Configuration
.htaccess
siteConfig.py

# Misc.
*.pyc