<section class="marquee">
    <div class="marquee__content">
        <h1 class="marquee__title">Hi!<br>I'm Joe Karasek.<br>Developer.</h1>
    </div>

    {% include '/organisms/navbar/navbar.twig' %}

</section>