/// Font Colors
$c-brick: #e87400;
$c-orange: #fa6d22;
$c-dark-purple: #79457a;
$c-darkish-purple: #6f3871;
$c-darker-purple: #471d48;
$c-purple: #c775be;
$c-grey-nav: #6c6561;
$c-yellow-black: #393937;
$c-light-blue: #80d4ff;
$c-blackish: #333;
$c-insurance-yellow: #fee8db;

/// Background Colors
$c-nav-background: #f2e9f9;
$c-associations: #f7f2fe;
$c-light-pink: #f3ebf3;

/// Specials Cards
$c-card1: #3493a0;
$c-card2: #e5793f;
$c-card3: #00639e;

//Old Colors
//^^^^^^^^^^

//New Colors

/// Button Color
$c-btn: #db4d01;

//Font Colors
$c-black-blue: #343b42;
$c-grey-blue: #034973;
$c-black-blue: #343b42;
$c-greyer-blue: #909293;
$c-grey: #5b5d5f;
$c-light-grey: #a1a3a4;
$c-dark-teal: #005d86;
$c-teal-link: #00639e;
$c-teal: #3ea3b0;

//Background Colors
$c-grey-orange: #f1edea;
$c-grey-yellow: #d4ccc5;
$c-teal-2: #3493a0;

/// Misc
///
$c-star: #ffcd00;
$c-star-2: #ffb111;
$c-black: #000;
$c-white: #fff;
$c-clear: rbga(0, 0, 0, 1);
