.down-arrow {
  & > a {
    display: inline-block;
  }

  &--img {
    position: relative;
    transform: translate(-50%, -50%);
  }

  &__wrapper {
    position: absolute;
    text-align: center;
    width: 100%;
    transform: translateY(-75%);
    z-index: 150;
  }
}

.down-arrow {
  &--icon {
    position: relative;
    top: -20px;
    color: #323437;
    font-size: 20px;
  }
}
