.team-card {
  text-align: center;
  margin-bottom: 15px;

  a {
    display: inline-block;
  }

  &__text {
    padding: 10px 0 15px 15px;
  }

  &__name {
    font-weight: 900;
    line-height: 1.7;
    margin-bottom: 0;
    color: #565656;

    // @media (min-width: 1200px) {
    //   margin-top: 60px;
    // }
  }

  &__read-more {
    font-weight: 400;
    line-height: 1;
    margin-bottom: 0;
    color: #559604;
    text-decoration: underline;
    font-style: italic;
  }
}

.team-carousel .team-card {
  margin-right: 4px;
}

.team-modal-wrapper {
  img {
    max-width: 170px;
  }
}
