<script type="text/javascript" src="https://maps.google.com/maps/api/js?key=AIzaSyD9MyO7Caj7KcauW3m4lEUzcFcVRvQDK2s"></script>
<script type="text/javascript" src="{{ birdeyeScript }}"></script>
<script type="text/javascript" src="../../../../js/scripts.js"></script>

<!--DO NOT REMOVE-->
  {{ patternLabFoot | raw }}
  
  </body>
</html>
