{#<div class="cta__one" {{ id ?: '' }}>#}
    {#<div class="container">#}
        {#<div class="flex--wrapper">#}
            {#<div class="new-patient flex--item">#}
                {#<h6 class="text">New Patient Hotline</h6>#}
                {#<h2 class="new-patient-number allow-orphan">#}
                    {#{% include 'atoms/general/new-patient-number.twig' %}#}
                {#</h2>#}
                {#{% include 'atoms/general/request-appointment-button.twig' %}#}
            {#</div>#}
        {#</div>#}
        {#{% if existingPatients %}<p class="existing-patient"><span class="hidden-xs hidden-sm">Existing patients of our practice call:</span><span class="hidden-md hidden-lg">Existing Patients Call:</span><br class="hidden-lg hidden-md"> {% include 'atoms/general/existing-patient-number.twig' %}</p>{% endif %}#}
    {#</div>#}
{#</div>#}
