#section-before-after-2-modal {
  padding: 35px 0;
  background-color: #dee5eb;

  .left-align {
    @media (min-width: 992px) {
      text-align: left;
    }
  }

  .heading {
    &__title {
      color: #2e4a6f;
      margin-bottom: 0;

      @media (min-width: 992px) {
        padding-top: 15px;
      }
    }

    &__copy {
      color: #4d4d4d;
      margin-bottom: 0;

      &-modal {
        padding-top: 20px;
      }
    }
  }

  .before-after-btn {
    @media (min-width: 992px) {
      margin-left: -90px;
    }

    @media (min-width: 1200px) {
      margin-left: -190px;
    }
  }

  .img-mobile-pad {
    @media (max-width: 991px) {
      padding-bottom: 25px;
    }
  }
}
