/// Call to Action Three to One Layout
.cta__one {
  background: radial-gradient(circle at 50% 0%, #788b9d, #435363, #435363);

  @media (max-width: 992px) {
    background: radial-gradient(circle at 50% 0%, #788b9d, #435363);
  }

  .flex--wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    padding-top: 30px;
    padding-bottom: 30px;

    @media screen and (max-width: $width-md) {
      flex-direction: column;
      align-items: center;
    }
  }

  .flex--item {
    width: 33%;

    @media screen and (max-width: $width-md) {
      width: 100%;
    }
  }

  .new-patient {
    text-align: center;

    .text {
      color: #fff;
      font-family: $ff-poly;
      font-size: 22px;
      margin-bottom: 0;
    }

    &-number {
      color: #fff;
      font-family: $ff-lato;
      font-weight: 900;
      margin-bottom: 20px;
      line-height: 1;

      @include font-size(39px, 35px, 30px, 28px, 28px);

      a {
        @include link-color(#fff);

        &:hover {
          text-decoration: none;
        }
      }
    }

    @media screen and (max-width: $width-md) {
      text-align: center;
      padding-bottom: 15px;
    }
  }

  .btn {
    &--wrapper {
      text-align: center;
      padding-bottom: 5px;
      margin-left: 15px;
      margin-right: 15px;
    }
  }

  .existing-patient {
    text-align: center;

    .text {
      color: #fff;
      font-family: $ff-poly;
      font-size: 22px;
      margin-bottom: 0;
    }

    &-number {
      color: #fff;
      font-family: $ff-lato;
      font-weight: 400;
      margin-bottom: 0;
      line-height: 1;

      a {
        @include link-color(#fff);

        &:hover {
          text-decoration: none;
        }
      }
    }

    @media screen and (max-width: $width-md) {
      text-align: center;
      padding-top: 15px;
    }
  }
}
