#section-insurance {
  $c-no-insurance: #424242;
  $c-sub-header: #434343;
  $c-preventative: #ea5034;
  $c-copy: #424242;
  $c-mobile-bg: #fff;

  background-color: #dee5d9;
  position: relative;

  .title {
    letter-spacing: 0;
    // padding-top: 30px;
    margin-bottom: 0;
    line-height: 1;
    color: $c-no-insurance;
    font-weight: 900;

    @include font-size(58px, 55px, 45px, 50px, 36px);
  }

  .sub-title {
    font-weight: 400;
    color: $c-sub-header;
    margin-bottom: 0;
    font-family: $ff-lato;
    padding: 15px 0;
    line-height: 1;

    @include font-size(28px, 27px, 21px, 30px, 30px);
  }

  .preventative-care {
    font-weight: 700;
    line-height: 1.2;
    color: $c-preventative;
    letter-spacing: -0.24px;
    margin-bottom: 0;
    font-family: $ff-lato;
    padding-top: 5px;
    padding-bottom: 20px;

    @media (min-width: 991px) {
      padding-top: 20px;
      padding-bottom: 40px;
    }

    @include font-size(26px, 21px, 16px, 16px, 16px);
  }

  .insurance__copy {
    color: $c-copy;
    line-height: 1.5;

    @include font-size(16px, 16px, 14px, 16px, 14px);

    @media (min-width: 768px) {
      text-align: left;
      padding-top: 0;

      &--last {
        margin-bottom: 0;
      }
    }
  }

  .insurance__image {
    @media (min-width: 768px) {
      width: 100%;
    }
  }

  .insurance-btn {
    padding: 10px 70px;
    margin-bottom: 20px;
    margin-top: 0;

    @media (min-width: 768px) {
      margin-bottom: 0;
      margin-top: 20px;
    }
  }

  .mobile-insurance {
    padding: 20px;
  }

  .flexbox-wrapper {
    text-align: left;

    @media (min-width: 768px) {
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}
