<div class="container"><hr>

    <h1>Header 1</h1>
    <h2>Header 2</h2>
    <h3>Header 3</h3>
    <h4>Header 4</h4>
    <h5>Header 5</h5>
    <h6>Header 6</h6>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, doloribus iusto natus obcaecati optio recusandae suscipit tempore. Atque consectetur dicta doloribus iure laudantium magnam provident quia, recusandae sequi, similique totam?</p>

    <a href="#">This is a link.</a>

    <hr>

    <a href="#" class="btn">This is a button</a>
</div>