{% include '/meta/head.twig' %}

    {% include '/organisms/navbar/navbar.twig' %}

    <section class="section about" id="about">
        <div class="container">
            <h1 class="heading">About Me</h1>
            <p>Hi! I'm a full-stack web developer based out of Portland, Oregon. I've built tons of websites and
                webapps, I strive to write high-quality, professional code, and I love being part of the developer
                community. Whether its modern, responsive front-end, the newest Javascript library, a PHP CMS, or Python
                deployment scripts, there's no code that I'm afraid to tackle.</p>
            <p>Building websites isn't the only thing I do. I also love to play with Arduinos and Raspberry Pi's. I'm a
                musician (keyboard), a hiker, a skier, and a board-game enthusiast.</p>
            <p>I originally moved to Oregon to work in environmental management as a field ecologist, community leader,
                and project manager. After receiving a Master's in Project Management and Environmental Science, I
                decided to pursue my long neglected interest in coding (I was once an avid game developer on the TI-86
                graphing calculator). I've been building websites and software ever since.</p>
            <p>Checkout some of the work I've done in the projects section, visit my LinkedIn and GitHub pages, and feel
                free to reach out to me if there is anything I can do for you.</p>
        </div>
    </section>

{% include '/meta/foot.twig' %}