@import "/**/*.scss";


// Colors

$ash: #5a5a66;
$fog: #eeffea;
$lime: #aceb98;
$mint: #c7f0bd;
$sage: #a4c2a8;

$lighter-grey: #d9d9d9;
$light-grey: #8d8d8d;
$teal: rgb(45, 161, 138);
$dark-grey: #333333;
$black: #000000;



// Override _Reboot

label {
  display: block;
}

input,
textarea {
  width: 100%;
}

input[type="submit"] {
  background: teal;
  border: none;
  width: auto;
  text-align: center;
  padding: 10px 25px;
  color: $lighter-grey;
}

// Typography

$font-primary: 'PT Sans Narrow', sans-serif;
$font-copy: 'Roboto', sans-serif;

@mixin font-colors($primary: $teal, $secondary: $lighter-grey) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $primary;
  }

  a,
  p,
  li,
  span {
    color: $secondary;
  }

  a:hover {
    color: darken($secondary, 50%);
  }
}

@include font-colors();

h1 {
  font-size: 4rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-primary;
  font-weight: 700;
}

a,
p,
li,
span {
  font-family: $font-copy;
  color: $ash;
}

ul {
  padding-left: 20px;
}

.short-break {
  border-top: 2px solid #2da18a;
  width: 150px;

  @media screen and (min-width: 992px) {
    width: 300px;
  }
}

.btn {
  border: dashed 3px green;
}

.navbar {
  position: fixed;
  z-index: 10;
  right: 0;

  &-nav {
    flex-direction: column !important;
  }

  &-brand {
    font-family: $font-primary;
    font-weight: 700;
    font-size: 2rem;
  }
  &--teal {
    background-color: rgba(45, 161, 138, 0.5);
    transition: background-color 0.3s ease;

    &:hover {
      background-color: $teal;
    }

    a {
      color: $black;
      text-shadow: 2px 1px 1px rgba(110, 110, 110, 0.5);
    }

    a:hover,
    a:focus,
    a:active {
      color: $dark-grey;
      text-shadow: 2px 1px 1px rgba(255, 255, 255, 0.5);
      text-decoration: underline;
    }
  }
}

.section {
  padding: 30px 0;

  @media screen and (min-width: 992px) {
    padding: 60px 0;
  }

  &__heading {
    margin-bottom: 45px;
    border-bottom: solid 1px $teal;
    text-shadow: 1px 2px 2px black;
    letter-spacing: 1.8px;
  }

  &__title {
    font-size: 3rem;
    font-weight: 700;
  }

  &--lighter-grey {
    background-color: $lighter-grey;

    @include font-colors($teal, $dark-grey);
  }

  &--light-grey {
    background-color: $light-grey;

    @include font-colors($teal, $dark-grey);
  }

  &--dark-grey {
    background-color: $dark-grey;

    @include font-colors($teal, $lighter-grey);
  }

  &--black {
    background-color: $black;

    @include font-colors($teal, $teal);
  }
}

.marquee {
  position: relative;
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.85),
      rgba(0, 0, 0, 0.65)
    ), url(../assets/computer.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;

  &__content {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
  }

  &__title {
    text-shadow: 1px 3px 6px black;
  }
}

.about {
  &__image {
    width: 300px;
    max-width: 50%;
    margin-right: 15px;
    margin-bottom: 15px;
  }
}

.contact {
  margin-bottom: 30px;

  label {
    color: $teal;
  }

  form {
    margin-top: 15px;
  }
}

.project {
  border-radius: 0px;
  padding: 45px 35px;
  margin: 45px 0;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);

  @include font-colors($black, $dark-grey);

  &__title {
    text-shadow: 1px 2px 2px #000;
    color: $teal !important;
    letter-spacing: 1.8px;
  }

  &__sub-title {
    font-weight: 700;
  }

  &__thumbnail {
    width: 300px;
    max-width: 100%;
    margin: 0 8px 15px;
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.35);

    &--squashed {
      max-height: 270px;
      width: auto;

      @media screen and (min-width: 540px) {
        max-height: 200px ;
      }

      @media screen and (min-width: 768px) {
        max-height: 300px;
      }
    }
  }

  &--lighter-grey {
    background-color: $lighter-grey;
  }

  &--light-grey {
    background-color: $light-grey;
  }

  &--dark-grey {
    background-color: $dark-grey;
  }

  &--black {
    background-color: $black;
  }
}

.tyson-steele-thumbnails {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  @media screen and (min-width: 992px) {
    display: inherit;
    width: inherit;
  }
}

.social-media-icon {
  margin: 15px 30px 0;
}
