//Font Families
$ff-advent: 'Advent Pro', sans-serif;
$ff-berkshir: 'Berkshire Swash', cursive;
$ff-bree: 'Bree Serif', serif;
$ff-cardo: 'Cardo', serif;
$ff-caveat: 'Caveat Brush', cursive;
$ff-carme: 'Carme', sans-serif;
$ff-crimson: 'Crimson Text', serif;
$ff-dancing: 'Dancing Script', cursive;
$ff-dosis: 'Dosis', sans-serif;
$ff-josef: 'Josefin Sans', sans-serif;
$ff-lato: 'Lato', serif;
$ff-mont: 'Montserrat', sans-serif;
$ff-muli: 'Muli', sans-serif;
$ff-open: 'Open Sans', sans-serif;
$ff-oswald: 'Oswald', sans-serif;
$ff-play: 'Playfair Display', serif;
$ff-poly: 'Poly', serif;
$ff-poppins: 'Poppins', sans-serif;
$ff-raleway: 'Raleway', sans-serif;
$ff-roboto: 'Roboto', sans-serif;
$ff-roboto-condensed: 'Roboto Condensed', sans-serif;
$ff-sanchez: 'Sanchez', serif;

//Spacing
$spacing-xs: 5px;
$spacing-sm: 15px;
$spacing-md: 30px;
$spacing-lg: 45px;
$spacing-xl: 60px;
$spacing-xxl: 75px;

//Breakpoints
///
$width-xs: 480px;
///
$width-sm: 768px;
///
$width-md: 991px;
///
$width-lg: 1200px;

//Line heights
$lh-xs: 1;
$lh-sm: 1.2;
$lh-md: 1.5;
$lh-lg: 1.8;
